.revolution-container {
  height: 324px;
  background: url("../../image/revolution/revolution-banner.png") no-repeat;
  border-radius: 1.2rem;
  margin: 12rem 0;
  padding: 4.8rem 5.6rem;
}

.revolution-heading {
  font: normal 800 4.8rem/5.8rem var(--font-family);
  color: var(--white);
  margin-bottom: 1.6rem;
}

.revolution-title {
  font: normal 500 1.6rem/2.4rem var(--font-family);
  color: var(--white);
  letter-spacing: 0.064px;
}
.revolution-button {
  outline: 0;
  border: 0;
  background-color: var(--white);
  padding: 1.2rem 2.4rem;
  font: normal 600 1.6rem/2.4rem var(--font-family);
  color: var(--primar-color);
  margin-top: 4rem;
}